.features {
  min-height: 562px;
  padding-top: 112px;
  padding-bottom: 79px;
  padding-right: 0;
  padding-left: 103px;

  background-color: #e3ecf6;
  background-image: url("../img/landscape-2-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/landscape-2-desktop@2x.jpg");
  }
}

@media screen and (max-width: 1365px) {
  .features {
    background-image: url("../img/landscape-2-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/landscape-2-tablet@2x.jpg");
    }
  }
}

@media screen and (max-width: 767px) {
  .features {
    background-image: url("../img/landscape-2-mobile@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/landscape-2-mobile@2x.jpg");
    }
  }
}

@media screen and (min-width: 1366px) {
  .features {
    padding-right: 103px;
  }
}

@media screen and (max-width: 1365px) {
  .features {
    padding-right: 0;
  }
}

@media screen and (max-width: 1365px) {
  .features {
    padding-right: 103px;
  }
}

@media screen and (max-width: 1365px) {
  .features {
    padding-top: 91px;
    padding-bottom: 70px;
    padding-right: 15px;
    padding-left: 45px;
  }
}

@media screen and (max-width: 1365px) {
  .features {
    padding-right: 45px;
  }
}

@media screen and (max-width: 767px) {
  .features {
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .features {
    padding-top: 58px;
    padding-bottom: 36px;
    padding-left: 15px;
  }
}

.features__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.features__heading {
  padding-left: 466px;
}

@media screen and (min-width: 1365px) {
  .features__heading {
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1365px) {
  .features__heading {
    padding-left: 466px;
  }
}

@media screen and (max-width: 1365px) {
  .features__heading {
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1365px) {
  .features__heading {
    padding-left: 233px;
  }
}

@media screen and (max-width: 1365px) {
  .features__heading {
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .features__heading {
    padding-left: 233px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .features__heading {
    justify-content: flex-start;
    padding-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .features__heading {
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .features__heading {
    align-items: flex-start;
    padding-left: 32px;
    text-align: left;
  }
}

.features__heading h2 {
  margin: 0;
  padding-bottom: 48px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011c40;
}

@media screen and (max-width: 1365px) {
  .features__heading h2 {
    font-size: 26px;
    line-height: 39px;
  }
}

@media screen and (max-width: 767px) {
  .features__heading h2 {
    padding-left: 14px;
    padding-bottom: 29px;
    font-size: 24px;
    line-height: 36px;
  }
}

.features__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media screen and (min-width: 1365px) {
  .features__list {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1365px) {
  .features__list {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1365px) {
  .features__list {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1365px) {
  .features__list {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .features__list {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .features__list {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .features__list {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .features__list {
    align-items: flex-start;
  }
}
