.list-features__item {
  max-width: 360px;
  margin-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 23px;

  background-color: #f9fbfd;
}

@media screen and (max-width: 1365px) {
  .list-features__item {
    max-width: 300px;
    margin-right: 0;
  }
}

@media screen and (max-width: 1365px) {
  .list-features__item {
    max-width: 206px;
    padding-right: 13px;
    padding-left: 19px;
    padding-bottom: 18px;
  }
}


@media screen and (max-width: 767px) {
  .list-features__item {
    min-width: 290px;
    padding-right: 7px;
  }
}

@media screen and (max-width: 767px) {
  .list-features__item--ticks {
    margin-left: 0;
    margin-right: 0;
    padding-top: 2px;

    padding-right: 55px;
  }
}

.list-features__item--ship .list-features__icon {
  padding-top: 30px;
  padding-bottom: 13px;
}

@media screen and (max-width: 1365px) {
  .list-features__item--ship .list-features__icon {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}

.list-features__item--ticks .list-features__icon {
  padding-top: 35px;
  padding-bottom: 19px;
}

@media screen and (max-width: 1365px) {
  .list-features__item--ticks .list-features__icon {
    padding-top: 29px;
  }
}

@media screen and (max-width: 1365px) {
  .list-features__item--ticks .list-features__icon {
    padding-top: 27px;
  }
}

.list-features__item--boat .list-features__icon {
  padding-top: 35px;
  padding-bottom: 23px;
}

@media screen and (max-width: 1365px) {
  .list-features__item--boat .list-features__icon {
    padding-top: 28px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1365px) {
  .list-features__item--ship svg {
    height: 26px;
  }

  .list-features__item--ticks svg {
    height: 19px;
  }

  .list-features__item--boat svg {
    height: 13px;
  }
}

.list-features__item h3 {
  margin: 0;
  padding-bottom: 8px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #011c40;
}

@media screen and (max-width: 1365px) {
  .list-features__item h3 {
    padding-right: 36px;
  }
}

@media screen and (max-width: 1365px) {
  .list-features__item h3 {
    line-height: 25px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .list-features__item h3 {
    padding-bottom: 9px;
  }
}

.list-features__item p {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #011c40;
}
