.logo {
  margin-right: 40px;
  line-height: 0;
}

.page-header__logo-image {
  fill: #f9fbfd;
}

@media screen and (max-width: 1023px) {
  .logo {
    margin-right: 25px;
  }

  .logo__image {
    width: 38px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    margin-right: 0;
    margin-bottom: 23px;
    align-self: start;
  }

  .logo__image {
    width: 42px;
    height: 22px;
  }

  .logo-menu--closed {
    fill: #f9fbfd;
  }

  .logo-menu--opened {
    fill: #011c40;
    margin-left: 35px;
  }
}
