.main-nav {
  display: flex;
}

.main-nav__toggle {
  margin: 0;
  padding: 0;
  display: none;
}

@media screen and (max-width: 767px) {
  .main-nav__toggle {
    position: absolute;
    top: 9.5px;
    right: 7px;
    z-index: 12;

    display: block;
    width: 40px;
    height: 40px;

    background-color: transparent;

    cursor: pointer;
    border: none;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";

    position: absolute;
    top: 13px;
    right: 8px;

    width: 24px;
    height: 2px;

    background-color: #ffffff;
    box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
  }

  .main-nav--closed .main-nav__toggle:hover::before {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 6px 0 0 rgba(255, 255, 255, 0.8),
      0 12px 0 0 rgba(255, 255, 255, 0.8);
  }

  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 0 0 rgba(255, 255, 255, 0.5),
      0 12px 0 0 rgba(255, 255, 255, 0.5);
  }

  .main-nav--opened .main-nav__toggle {
    top: 9.5px;
    right: 7px;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 20px;
      right: 6px;

      width: 20px;
      height: 2px;

      background-color: #060606;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      opacity: 0.8;
    }

    &:active::before,
    &:active::after {
      opacity: 0.5;
    }
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 35px);
    min-height: 100vh;
    padding-top: 73px;
    padding-left: 25px;
    background-color: #f9fbfd;
    z-index: 10;
  }

  body.main-nav--opened {
    overflow: hidden;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

.main-nav.main-nav--opened::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 43, 102, 0.5);
  overflow: hidden;
}

.main-nav__wrapper {
  max-width: 767px;
}

.main-nav__logo-menu {
  position: absolute;
  z-index: 12;
  display: block;
  width: 42px;
  top: 20px;
  left: 45px;
  height: 42px;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav--opened::before {
  position: absolute;
  content: url("../../img/logo-menu.svg");
  top: 20px;
  left: 45px;
  z-index: 12;

  @media (min-width: 768px) {
    display: none;
  }
}

.hamburger,
.close {
  border: none;
  cursor: pointer;
  /* position absolute position the icons relative to the body because they have no position relative parents*/
  position: absolute;
  top: 25px;
  right: 8px;
  width: 24px;
  height: 12px;

  @media (min-width: 768px) {
    display: none;
  }
}

.hamburger{
  top: 15px;
  width: 25px;
  height: 30px;
}

.hamburger img,
.close img {
  width: 100%;
  height: 100%;
}

.close img {
  width: 13px;
  height: 13px;
}

.navbar {
  position: absolute;
  /* a higher z-index put navbar above hamburger */
  z-index: 1000;
  top: -20px;
  right: 0;
  height: 150vh;
  overflow: hidden;
  /* basic menu styling*/
  list-style: none;
  background: #f9fbfd;
  display: flex;
  flex-direction: column;
  padding-top: 85px;
  /* animate slide up/down */
  transform: translateY(-100%);
  transition: transform 0.2s ease;
  width: calc(100% - 35px);
  padding: 0;
  padding-top: 85px;
  padding-left: 25px;
}

.navbar::after {
  position: absolute;
  content: url("../../img/logo-menu.svg");
  top: 21px;
  left: 15px;
  z-index: 12;
  order: 10;

  @media (min-width: 768px) {
    display: none;
  }
}

.navbar__item {
  padding-bottom: 18px;
}

/* :target is called when its anchor id #navbar is called by clicking on the hamburger which has href="#navbar" */

.navbar:target {
  /* show navbar */
  transform: translateY(0);
}

li a {
  display: block;
  color: #011c40;
  font-weight: 500;
  font-size: 18px;
  /* remove default underline and add our own with padding and border bottom */
  text-decoration: none;
  padding-bottom: 0.5rem;
}
