.advantage {
  background-image: url("../img/advantage-bg-desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 562px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    padding-top: 120px;
    color: #011c40;
    padding-bottom: 60px;
  }

  &__card {
    background-color: #f9fbfd;
    width: 360px;
    height: 241px;

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #011c40;
      padding-left: 30px;
      padding-bottom: 10px;
    }

    &-badge {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #011c40;
      padding-left: 30px;
    }
  }

  &__svg {
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 30px;
  }
}
