.footer {
  background-color: #011c40;
  padding-top: 63px;
  padding-bottom: 63px;

  &__wrapper{
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__logo{
    padding-right: 40px;
    margin-top: -10px;
  }

  &__menu {
    display: flex;
    column-gap: 33px;

    &-item {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-decoration: none;
      display: flex;
      color: #f9fbfd;
    }
  }

  &__social-links{
    display: flex;
    column-gap: 28px;
    cursor: pointer;
  }
}
